body {
    font-family: 'roboto', sans-serif;

}


/* navbar style */
.navbar {
    background-color: grey;
    font-family: 'Roboto', Sans-serif;
    padding: 15px;
}

.navbar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    display: inline;
    margin: 0 17px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: pink;
}

/* get to know me button */
.round-button {
    margin-top: 15px;
    background-color: pink; 
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 25px; 
    font-size: 14px; 
    font-family: 'Roboto', sans-serif; 
    text-transform: uppercase; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    display: inline-block; 
    text-align: center;
    white-space: nowrap; 
    width: auto; 
    height: auto; 
    line-height: 20px; 
    border-radius: 50px; 
  }
  
  .round-button:hover {
    background-color: rgb(247, 116, 138); 
    transform: scale(1.1); 
  }

  /* CENTER ALL THE H2 */
  h2 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  /* CENTER ALL THE H3 */

  h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 50px;
  }

  /* paraghraph */
  p{
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 1.8;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;

  }

 /* Jack pic */
 .jack-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 20%;
    max-width: 250px;
    height: auto;
 }


 /* center the dt */
 dt {
    font-size: large;
    text-align: center;
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
 }

 dd{
    font-size: medium;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 15px;
 }

 /* resume part */
 .resume {
    background-color: rgb(209, 206, 206);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    margin-top: 5px;
    }

.resume h3 {
    margin-top: auto;
    margin-bottom: 5px;
    text-decoration: underline;
}

.resume ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.resume ul li {
    font-size: 14px;
    margin-bottom: 8px;
}

.resume ul li a {
    color: rgb(218, 113, 131);
    text-decoration: none;
}

.resume ul li a:hover {
    text-decoration: underline;
}

.audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 20%;
    max-width: 250px;
    height: auto;
}

/* contact */

#contact {
    background-color: rgb(209, 206, 206) ;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
}

#contact h3 {
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 30px;
}

#contact label {
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

#contact input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 4px;
    font-size: 14px;
}

#contact input:focus, textarea:focus {
    outline: none;
    border-color: rgb(248, 104, 128);
}

#contact textarea {
    resize: vertical;
}

#contact button {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#contact button:hover {
    background-color: beige;
    transform: scale(1.1);
}

/* footer */

footer {
    background-color: rgb(1, 1, 27);
    color: white;
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    list-style-type: none;
}

.footer-left h2, .footer-right h2, .footer-center h2 {
    color: #ccc;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
} 

.footer-left ul {
    list-style-type: none;
    padding: 0;
}

.footer-left li {
    margin: 8px 0;
}

.footer-left a {
    color: white;
    text-decoration: none;
}
.footer-left a:hover {
    text-decoration: underline;
}

.footer-right ul {
    list-style-type: none;
    padding: 0;
}

.footer-right li {
    margin: 8px 0;
}

.footer-right a {
    color: white;
    text-decoration: none;
}

.footer-right a:hover {
    text-decoration: underline;
}

.footer-center ul {
    list-style-type: none;
    padding: 0;
}

.footer-center li {
    margin: 8px 0;
}

.footer-center a {
    color: white;
    text-decoration: none;
}

.footer-center a:hover {
    text-decoration: underline;
}





 
 
  
  